@import "../../sass/variables";

.input {
    border: 2px solid $grey-medium;
    padding: 14px;
    font-size: 18px;
    color: $grey-dark;

    &::placeholder {
        color: $grey-ccc;
    }

    &.error {
        border-color: $red-main;
    }
}

