@import "../../sass/variables";

.header-simple {
    background-color: $white;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
    }
}

@media screen and (max-width: 1200px) {
   
}

@media screen and (max-width: 750px) {
   .header-simple {
        &-top {
            flex-direction: column;
            align-items: center;

            &__logo {
                margin-bottom: 20px;
            }
        }
   }
}