@font-face {
    font-family: 'PT Root UI';
    src: url('../assets/fonts/PTRootUI/PT Root UI_Regular.woff2') format('woff2'),
        url('../assets/fonts/PTRootUI/PT Root UI_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../assets/fonts/PTRootUI/PT Root UI_Light.woff2') format('woff2'),
        url('../assets/fonts/PTRootUI/PT Root UI_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../assets/fonts/PTRootUI/PT Root UI_Medium.woff2') format('woff2'),
        url('../assets/fonts/PTRootUI/PT Root UI_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Root UI';
    src: url('../assets/fonts/PTRootUI/PT Root UI_Bold.woff2') format('woff2'),
        url('../assets/fonts/PTRootUI/PT Root UI_Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marck Script';
    src: url('../assets/fonts/MarckScript/MarckScript-Regular.woff2') format('woff2'),
        url('../assets/fonts/MarckScript/MarckScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}