$size-default: 16px;
$line-default: 1.2;

$white: #FFF;
$grey: #222328;

$grey-main: #A1A8BD;
$grey-dark: #848ca4;
$grey-medium: #E3E8F0;
$grey-light: #F5F8FA;

$red-main: #D43624;
$red-light: #F24841;
$red-medium: #E93D35;
$red-dark: #A80C08;

$blue-main: #142558;
$blue-medium: #343e5c;
$color-dark: #1f1d3d;
