@import '../../sass/variables';

.btn-main {
    min-width: 200px;
    width: 100%;
    background: $red-main;
    color: $grey-light;
    padding: 15px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    
    cursor: pointer;
    
    &:hover {
        background-color: $red-dark;
    }
}