@import "../../sass/variables";

.product-buy {
    padding: 30px;
    background-color: $grey-light;
    max-width: 370px;
    border-radius: 10px;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    &__price {
        font-size: 30px;
        font-weight: 700;
    }

    
}
