@import '../../sass/variables';

.header {
    background-color: $white;

    &-top {
        margin-bottom: 16px;

        &-inner {
            display: flex;
            align-items: center;
            padding-top: 12px;

            &__logo {
                margin-right: 40px;
            }

            &__actions {
                display: flex;
                align-items: center;
                margin-left: auto;
            }

            &__btn-sign {
                margin-left: 60px;
            }
        }
    }

    &-bottom {
        border-top: 1px solid $grey-light;
        border-bottom: 1px solid $grey-light;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}





