@import "../../sass/variables";

.footer-simple {
    background-color: $grey;
    
    &-top {
        display: flex;
        align-items: center;
        padding: 20px 0;

        &__logo {
            margin-right: 60px;
        }

        &__copyright {
            font-size: 14px;
            color: $grey-main;
        }

        &__phone {
            margin-left: auto;
        }
    }
}
